beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
deap==1.4.2
deep==0.10
idna==3.10
importlib_metadata==8.6.1
lxml==5.4.0
meson==1.7.2
meson-python==0.17.1
narwhals==1.36.0
ninja==1.11.1.4
numpy==2.2.5
packaging==25.0
pandas==2.2.3
peewee==3.17.9
plotly==6.0.1
pybind11==2.13.6
PyMySQL==1.1.1
pyproject-metadata==0.9.1
pyqtgraph==0.13.7
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
QDarkStyle==3.2.3
QtPy==2.4.3
requests==2.32.3
shiboken6==6.9.0
simplejson==3.20.1
six==1.17.0
soupsieve==2.7
tqdm==4.67.1
tushare==1.4.21
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
websocket-client==1.8.0
zipp==3.21.0
cryptography==44.0.2
rqdatac==3.2.2
rqsdk==1.6.0
# ta-lib==0.6.3   # 手动安装